
@{
    ViewData["Title"] = "Login";
}
<div class="container">
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Login</h2>
            <div class="card my-5">

                <form class="card-body cardbody-color p-lg-5" asp-controller="Login" method="post" asp-action="Logowanie">

                <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2023/02/18/11/00/icon-7797704_1280.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                         width="200px" alt="profile">
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" name="login" 
                           placeholder="Login">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="text-center"><button type="submit" class="btn btn-primary">Login</button></div>
            </form>
                @if (ViewBag.Error != null)
                {
                     <div class="alert alert-danger" role="alert">
                    <p style="color:red">@ViewBag.Error</p>
                        </div>
                }
                   
        </>

    </div>
</div>
</div>
</div>


