@model IEnumerable<Projekt_Zarzadzanie_Rezerwacjami.Models.Rezerwacja>
@{
    ViewData["Title"] = "Strona usera";
}
<style>
#btnlogout {
    float: right;
    margin-top: -40px;
}
</style>
<h1 class="text-center">Witaj, dodaj swoja rezerwacje!</h1>
<p>
    <a asp-action="Create">Dodaj nowa rezerwacje</a>
</p>
