@model IEnumerable<Projekt_Zarzadzanie_Rezerwacjami.Models.Rezerwacja>
@{
    ViewData["Title"] = "Strona usera";
}
<style>
#btnlogout {
    float: right;
    margin-top: -40px;
}
</style>
<h1 class="text-center">Witaj, dodaj swoja rezerwacje!</h1>
<form method="post" asp-controller="User" asp-action="LogOut1">
    <button type="submit" class="btn btn-primary" id="btnlogout">Wyloguj sie</button>

</form>

<p>
    <a asp-action="Create">Dodaj nowa rezerwacje</a>
</p>
